.screen.form.js-form#trySystem
  .wrap
    form(name="contactForm" novalidate id="contactForm" class="ng-submitted")
      label.form__label
        | Как к вам обращаться?

      .form__field.js-form-field
        label.form__placeholder(for="name")
          | Ваши Имя и Фамилия
        input.input__text(required autocomplete="off" value="" id="name" name="name")
        .js-form-message

      .form__field.js-form-field
        label.form__placeholder(for="company")
          | Название вашей компании
        input.input__text(autocomplete="off" value="" id="company" name="company")
        .js-form-message

      label.form__label
        | Контактная информация

      .form__field.js-form-field
        label.form__placeholder(for="phone")
          | Телефон для связи с вами
        input.input__text(type="tel"  autocomplete="off" value="" id="phone" name="phone" required="")
        .js-form-message

      .form__field.js-form-field
        label.form__placeholder(for="email")
          | Электронная почта
        input.input__text(autocomplete="off" value="" id="email" name="email" required="")
        .js-form-message

      input.input__text(type="hidden" value="corp" name="contract_type" required="")
      .form__bottom
        .form__bottom-item
          .checkbox-field
            input.input__checkbox(type="checkbox" id="successDataFlag" name="agreed" value="true" required="")
            label(for="successDataFlag" class="checkbox-field__label")
              .checkbox-field__check
                svg(class='svg-icon' xmlns:xlink='http://www.w3.org/1999/xlink')
                  use(xlink:href='#icon-checkbox-check')
            a(href="https://www.onetwotrip.com/ru/l10n/ru/d/agreement.pdf" target="_blank" class="checkbox-field__link")
              | Даю согласие на обработку персональных данных

        .form__bottom-item._button
          button(class="button")
            | Отправить
