.form__field
  label.form__label
    | Юридический адрес
.form__cols._2cols.js-adress-legal
  .form__col
    .form__field.js-form-field
      .form__message
        | Неверный формат ввода
      label.form__placeholder(for="legal-region")
        | Регион
      input.input__text(autocomplete="off" value="" id="legal-region" name="legal-region" required="")
    .form__field.js-form-field
      .form__message
        | Неверный формат ввода
      label.form__placeholder(for="legal-street")
        | Улица
      input.input__text(autocomplete="off" value="" id="legal-street" name="legal-street" required="")
  .form__col
    .form__field.js-form-field
      .form__message
        | Неверный формат ввода
      label.form__placeholder(for="legal-city")
        | Город
      input.input__text(autocomplete="off" value="" id="legal-city" name="legal-city" required="")
    //4 cols
    .form__cols._4cols
      .form__col
        .form__field._small.js-form-field
          .form__message
            | Неверный формат ввода
          label.form__placeholder(for="legal-index")
            | Индекс
          input.input__text(autocomplete="off" value="" id="legal-index" name="legal-index" required="")

      .form__col
        .form__field._small.js-form-field
          .form__message
            | Неверный формат ввода
          label.form__placeholder(for="legal-house")
            | Дом
          input.input__text(autocomplete="off" value="" id="legal-house" name="legal-house" required="")

      .form__col
        .form__field._small.js-form-field
          .form__message
            | Неверный формат ввода
          label.form__placeholder(for="legal-building")
            | Корпус
          input.input__text(autocomplete="off" value="" id="legal-building" name="legal-building" required="")

      .form__col
        .form__field._small.js-form-field
          .form__message
            | Неверный формат ввода
          label.form__placeholder(for="legal-office")
            | Офис
          input.input__text(autocomplete="off" value="" id="legal-office" name="legal-office" required="")
