.form__field
  label.form__label
    | Почтовый адрес
  .form__link-right.js-copy-link
    | Скопировать данные юридического адреса
.form__cols._2cols.js-adress-post
  .form__col
    .form__field.js-form-field
      .form__message
        | Неверный формат ввода
      label.form__placeholder(for="post-region")
        | Регион
      input.input__text(autocomplete="off" value="" id="post-region" name="post-region" required="")
    .form__field.js-form-field
      .form__message
        | Неверный формат ввода
      label.form__placeholder(for="post-street")
        | Регион
      input.input__text(autocomplete="off" value="" id="post-street" name="post-street" required="")
  .form__col
    .form__field.js-form-field
      .form__message
        | Неверный формат ввода
      label.form__placeholder(for="post-city")
        | Город
      input.input__text(autocomplete="off" value="" id="post-city" name="post-city" required="")
    //4 cols
    .form__cols._4cols
      .form__col
        .form__field._small.js-form-field
          .form__message
            | Неверный формат ввода
          label.form__placeholder(for="post-index")
            | Индекс
          input.input__text(autocomplete="off" value="" id="post-index" name="post-index" required="")

      .form__col
        .form__field._small.js-form-field
          .form__message
            | Неверный формат ввода
          label.form__placeholder(for="post-house")
            | Дом
          input.input__text(autocomplete="off" value="" id="post-house" name="post-house" required="")

      .form__col
        .form__field._small.js-form-field
          .form__message
            | Неверный формат ввода
          label.form__placeholder(for="post-building")
            | Корпус
          input.input__text(autocomplete="off" value="" id="post-building" name="post-building" required="")

      .form__col
        .form__field._small.js-form-field
          .form__message
            | Неверный формат ввода
          label.form__placeholder(for="post-office")
            | Офис
          input.input__text(autocomplete="off" value="" id="post-office" name="post-office" required="")
