.form__field.js-form-field
  .form__message
    | Неверный формат ввода
  label.form__placeholder(for="#{name}")
    | Данные о #{name}
  input.input__text(autocomplete="off" value="" id="#{name}" name="#{name}" required="")
