.form__success
  h1
   | Договор оформлен

  .form__text
    | Для продолжение регистрации вам отправленно письмо на почту #{email}.
    | Во вложении к письму вы найдете договор от OneTwoTrip

  a.button._long(href='/')
    | Перейти к письму
