<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="select-dropdown js-select-dropdown">
  <input class="select-dropdown__toggle-trigger js-trigger-checkbox"
                                                       type="checkbox">
  <div class="select-dropdown__toggle-box">^</div>
  <div class="select-dropdown__trigger">
    <span class="default-value js-select-dropdown__default-value"
                                              data-select-dropdown-value="default">
      <span class="item-pad">Россия</span></span>
  </div>
  <ul class="select-dropdown__result js-select-dropdown__pad">
    <li class="item js-select-dropdown__item _current"
        data-select-dropdown-value=""><span class="item-pad">Россия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Австралия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Австрия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Азербайджан</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Албания</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Алжир</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Ангола</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Аргентина</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Армения</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Аруба</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Афганистан</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Багамские о-ва</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Бангладеш</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Барбадос</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Бахрейн</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Белоруссия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Бельгия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Бенин</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Бермудские о-ва</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Болгария</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Боливия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Босния и Герцеговина</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Ботсвана</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Бразилия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Бруней</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Буркина-Фасо</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Бутан</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Великобритания</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Венгрия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Венесуэла</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Виргиния о.(Вел.)</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Виргиния о.(США)</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Вьетнам</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Габон</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Гаити</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Гамбия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Гана</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Гватемала</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Гвинея</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Германия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Гернси</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Гибралтар</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Гондурас</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Гонконг</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Греция</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Грузия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Дания</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Доминика</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Доминиканская респ.</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Египет</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Замбия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Израиль</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Индия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Индонезия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Иордания</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Ирак</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Ирландия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Исландия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Испания</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Италия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Йемен</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Казахстан</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Кайманские о-ва</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Камбоджа</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Камерун</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Канада</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Канарские о-ва</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Катар</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Кения</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Кипр</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Китай</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Колумбия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Коморские о-ва</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Конго</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Косово</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Коста-Рика</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Кот-д`Ивуар</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Кувейт</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Кыргызстан</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Лаос</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Латвия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Либерия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Ливан</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Ливия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Литва</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Лихтенштейн</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Люксембург</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Маврикий</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Мавритания</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Мадагаскар</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Макао</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Македония</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Малайзия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Мали</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Мальдивские о-ва</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Мальта</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Марокко</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Мартиника о-в</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Мексика</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Мозамбик</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Молдова</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Монако</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Монголия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Мьянма</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Намибия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Непал</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Нигер</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Нигерия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Нидерланды</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Никарагуа</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Новая Зеландия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Новая Каледония о-в</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Норвегия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">ОАЭ</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Оман</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Пакистан</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Панама</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Парагвай</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Перу</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Польша</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Португалия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Пуэрто-Рико</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Румыния</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Сальвадор</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Саудовская Аравия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Сейшельские о-ва</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Сенегал</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Сент-Винсент и Гренадины</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Сербия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Сингапур</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Словакия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Словения</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">США</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Сьерра-Леоне</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Тайвань</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Тайланд</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Танзания</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Того</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Тунис</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Туркменистан</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Турция</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Уганда</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Узбекистан</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Украина</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Уругвай</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Фарерские о-ва</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Филиппины</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Финляндия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Франция</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Хорватия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Черногория</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Чехия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Чили</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Швейцария</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Швеция</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Шотландия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Шри-Ланка</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Эквадор</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Эритрея</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Эстония</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Эфиопия</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">ЮАР</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Южная Африка</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Южная Корея</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Ямайка</span></li>
    <li class="item js-select-dropdown__item"
        data-select-dropdown-value=""><span class="item-pad">Япония</span></li>
  </ul>
</div>
</body>
</html>
