doctype html
html
  head
    include ../_head/_head.pug
  body
    .g-wrapper
      include ../header/header2.pug
      include ../teaser/teaser2.pug
      include ../numeric/numeric.pug
      include ../optimization/optimization.pug
      include ../sales/sales.pug
      include ../easy-start/easy-start2.pug

      include ../form/form.pug
      include ../contacts/contacts.pug
      include ../press/press.pug
      include ../footer/footer.pug

    include ../_service-blocks/_service-blocks.pug