doctype html
html(lang="en")
  head
    include ../_head/_head.pug
  body._groups-page
    .g-wrapper
      include ../header/header3.pug
      include ../teaser/teaser3.pug
      include ../excellence/excellence.pug
      include ../request/request.pug
      include ../contacts/contacts.pug
      include ../press/press.pug
      include ../footer/footer.pug

    include ../_service-blocks/_service-blocks.pug