doctype html
html
  head
    title
      | OneTwoTrip для агентов - выгода без затрат
    include ../_head/_head.pug
    meta(name="title" content="OneTwoTrip для агентов - выгода без затрат")
    meta(name="description" content="Устанавливайте размер своей комиссии и зарабатывайте вместе с OneTwoTrip for Business")
    meta(property="og:image" content=require("_images/teaser-agents@x2.jpg"))
    meta(property="twitter:image:src" content=require("_images/teaser-agents@x2.jpg"))
  body
    .g-wrapper
      include ../header/header4.pug
      include ../teaser/teaser4.pug

      include ../contacts/contacts.pug
      include ../press/press.pug
      include ../footer/footer.pug

    include ../_service-blocks/_service-blocks.pug
