.comfort
  &__content
    display flex
    justify-content space-around
    align-items stretch
    +mediaMax($small)
      display block
  &__item
    width 280px
    text-align center
    +mediaMax($small)
      width 84%
      margin 0 auto 4rem
  &__icon
    margin-bottom 25px
    svg
      width 64px
      height 64px