.screen.sales
  .screen__wrap
    h2
      | Эффективные и быстрые продажи
    h5
      | Самые выгодные предложения для ваших клиентов в режиме реального времени
    .sales__content
      .sales__item
        .sales__icon
          svg(class='svg-icon' xmlns:xlink='http://www.w3.org/1999/xlink')
            use(xlink:href='#icon-ui')
        h4.screen__title.sales__title
          | Легкость
          br
          | использования
        p
          | Доступ к групповым тарифам всех доступных авиакомпаний на выбранном маршруте
      .sales__item
        .sales__icon
          svg(class='svg-icon' xmlns:xlink='http://www.w3.org/1999/xlink')
            use(xlink:href='#icon-simple')
        h4.screen__title.sales__title
          | Простые
          br
          | решения
        p
          | Запрос мест и цен одним кликом во все доступные авиакомпании
      .sales__item
        .sales__icon
          svg(class='svg-icon' xmlns:xlink='http://www.w3.org/1999/xlink')
            use(xlink:href='#icon-help')
        h4.screen__title.sales__title
          | Помощь в любое
          br
          | время
        p
          | Персональный консультант
          br
          | по групповым перевозкам
    .controls
      a(href="javascript:" class="button" scroll-to="" anchor="trySystem")
        | Попробовать
