.screen.sales
  .screen__wrap
    h2
      | Эффективные и быстрые продажи
    h5
      | Самые выгодные предложения для ваших клиентов в режиме реального времени
    .sales__content
      .sales__item
        .sales__icon
          svg(class='svg-icon')
            use(xlink:href='#icon-ui')
        h4.screen__title.sales__title
          | Легкость
          br
          | использования
        p
          | Быстрая и интуитивно
          br
          | понятная система
      .sales__item
        .sales__icon
          svg(class='svg-icon')
            use(xlink:href='#icon-simple')
        h4.screen__title.sales__title
          | Простые
          br
          | решения
        p
          | Авиа, ж/д, отели, страховки
          br
          | в одном онлайн-кабинете
      .sales__item
        .sales__icon
          svg(class='svg-icon')
            use(xlink:href='#icon-help')
        h4.screen__title.sales__title
          | Помощь в любое
          br
          | время
        p
          | Служба поддержки 24/7
          br
          | и персональный менеджер
    .controls
      a(href="javascript:" class="button" scroll-to="" anchor="trySystem")
        | Попробовать