.profit
  box-sizing border-box
  &__content
    display flex
    justify-content space-between
    align-content stretch
    align-items stretch
    flex-direction row
    flex-wrap wrap
    +mediaMax($small)
      display block

  &__item
    order 1
    flex 0 0 40%
    align-self auto
    margin-bottom 70px
  &__icon
    float left
    width 98px
    +mediaMax($small)
      float none
      margin-bottom 1rem
      display inline-block
    svg
      width 64px
      height 64px
  &__list
    overflow hidden
    text-align left
    +mediaMax($small)
      text-align center
    li
      color #424242
      font-size 14px
      font-weight 400
      letter-spacing .2px
      line-height 24px
      padding-left 22px
      position relative

      +mediaMax($small)
        padding 0
        font-size 1.2rem
        line-height 1.6
        display flex
        flex-direction column
        justify-content center
        align-items center
        width 100%

    &-text
      display inline
      position relative
      +mediaMax($small)
        display block
        flex-shrink 0

    &-icon
      position absolute
      left -22px
      top 1px
      width 14px
      height 14px
      svg
        width 14px
        height 14px
      +mediaMax($small)
        left -1.9rem
        top .1rem
        width 1rem
        height 1rem
        svg
          width 1.05rem
          height 1.05rem
