.dialog.js-dialog
  .dialog__popup.js-form
    form(name="loginForm" novalidate id="loginForm" class="dialog__form")
      .dialog__fieldset
        .dialog__title
          | Вход в аккаунт
        .form__field.js-form-field
          label.form__placeholder(for="userLogin")
            | Логин
          input.input__text(type="text" required value="" id="userLogin" name="userLogin")
        .form__field.js-form-field
          label.form__placeholder(for="userPass")
            | Пароль
          input.input__text(type="text" required value="" id="userPass" name="userPass")
        .dialog__registration
          a(href='/onetwob2b/')
            | Регистрация
      .dialog__errors.js-form-errors
        .dialog__text.dialog__error._unknown
          | Произошёл сбой, попробуйте позже. Приносим извинения.
        .dialog__text.dialog__error._wrongLoginOrPass
          | Неправильный логин или пароль.
        .dialog__text.dialog__error._inactiveUser
          | Извините, но ваш аккаунт заблокирован.
        .dialog__text.dialog__error._inactiveEntity
          | У вас нет доступа к этому сервису. Чтобы его включить, позвоните по телефону +7 (495) 646-83-62.

      .dialog__field
        button.dialog__button
          | войти
    .dialog__close-button.js-dialog-trigger-close
      svg(class='svg-icon')
        use(xlink:href='#icon-close-dialog')