.dialog.js-dialog
  .dialog__popup.js-form
    form(name="loginForm" novalidate id="contactForm" class="dialog__form")
      .dialog__fieldset
        .dialog__title
          | Вход в аккаунт
        .form__field.js-form-field
          label.form__placeholder(for="userLogin")
            | Логин
          input.input__text(type="text" required value="" id="userLogin" name="userLogin")
        .form__field.js-form-field
          label.form__placeholder(for="userPass")
            | Пароль
          input.input__text(type="text" required value="" id="userPass" name="userPass")
      .dialog__field
        button.dialog__button
          | войти
    .dialog__close-button.js-dialog-trigger-close
      svg(class='svg-icon')
        use(xlink:href='#icon-close-dialog')