.special-link
  display inline-block
  color #ff9b00
  font-size 16px
  font-weight 400
  letter-spacing .2px
  line-height 24px
  text-decoration none
  margin-top 34px
  clear both
  &:hover
    color #ff9b00
    text-decoration underline
