section.screen.contacts
  .screen__wrap
    .contacts__icon
      svg(class='svg-icon')
        use(xlink:href='#icon-manager')
    h2
      | Остались вопросы?
    a(href="tel:+74956468362")
      | +7 (495) 646-83-62
    a(href="mailto:b2b@onetwotrip.com ")
      | b2b@onetwotrip.com
