section.screen.contacts
  .screen__wrap
    .contacts__icon
      svg(class='svg-icon' xmlns:xlink='http://www.w3.org/1999/xlink')
        use(xlink:href='#icon-manager')
    h2.contacts__title
      | Остались вопросы?
    a.contacts__link(href="tel:+74956468362")
      | +7 (495) 646-83-62
    a.contacts__link(href="mailto:corporate@onetwotrip.com")
      | corporate@onetwotrip.com
