section(class="screen profitably ng-scope" id="prob")
  .screen__wrap.profit
    h2
      | Бизнесу выгодно
    h5
      | Подойдет компании любого размера - от нескольких человек до корпорации
      br
      | с тысячами сотрудников
    .profit__content
      .profit__item
        .profit__icon
          svg(class='svg-icon')
            use(xlink:href='#icon-automatic')
        .profit__list
          h4.screen__title
            | Автоматизация
          ul
            li
              .profit__list-text
                .profit__list-icon
                  svg(class='svg-icon')
                    use(xlink:href='#icon-list-image')
                | сокращение расходов
            li
              .profit__list-text
                .profit__list-icon
                  svg(class='svg-icon')
                    use(xlink:href='#icon-list-image')
                | доступ к сервису круглосуточно
      .profit__item
        .profit__icon
          svg(class='svg-icon')
            use(xlink:href='#icon-help')
        .profit__list
          h4.screen__title
            | Помощь в любое время
          ul
            li
              .profit__list-text
                .profit__list-icon
                  svg(class='svg-icon')
                    use(xlink:href='#icon-list-image')
                | поддержка работает в режиме 247
            li
              .profit__list-text
                .profit__list-icon
                  svg(class='svg-icon')
                    use(xlink:href='#icon-list-image')
                | выделенный менеджер
      .profit__item
        .profit__icon
          svg(class='svg-icon')
            use(xlink:href='#icon-control')
        .profit__list
          h4.screen__title
            | Управление и контроль
          ul
            li
              .profit__list-text
                .profit__list-icon
                  svg(class='svg-icon')
                    use(xlink:href='#icon-list-image')
                | онлайн-доступ к отчетам
            li
              .profit__list-text
                .profit__list-icon
                  svg(class='svg-icon')
                    use(xlink:href='#icon-list-image')
                | лимиты для сотрудников по тратам
              .profit__list-text
                | на поездку, классу перелета,
              .profit__list-text
                | звездности отеля
      .profit__item
        .profit__icon
          svg(class='svg-icon')
            use(xlink:href='#icon-privat')
        .profit__list
          h4.screen__title
            | Только для вас
          ul
            li
              .profit__list-text
                .profit__list-icon
                  svg(class='svg-icon')
                    use(xlink:href='#icon-list-image')
                | групповые перевозки
            li
              .profit__list-text
                .profit__list-icon
                  svg(class='svg-icon')
                    use(xlink:href='#icon-list-image')
                | доступ к специальным тарифам
              .profit__list-text
                | авиакомпаний и отелей