title
  | Деловой туризм - высокий заработок для агентов. Партнерская программа OneTwoTrip B2B
  base(href="/")
  meta(charset="utf-8")
  link(rel="icon" type="image/x-icon" href="/favicon.ico")
  script(async="" src="https://www.google-analytics.com/analytics.js")
  link(href='https://fonts.googleapis.com/css?family=Open+Sans&amp;subset=cyrillic' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=cyrillic,cyrillic-ext' rel='stylesheet')
  meta(name="viewport" content="width=device-width")