base(href="/")
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
script(async="" src="https://www.google-analytics.com/analytics.js")
meta(name="viewport" content="width=device-width")
