section.screen.comfort
  div.screen__wrap
    h2
      | Сотрудникам удобно
    h5
      | Сервис проверенный годами и миллионами довольных путешественников
    .comfort__content
      .comfort__item
        .comfort__icon
          svg(class='svg-icon')
            use(xlink:href='#icon-plane')
        p.screen__text
          | Самый большой выбор билетов. Возможность копить бонусные мили авиакомпаний на своей карте.
      .comfort__item
        .comfort__icon
          svg(class='svg-icon')
            use(xlink:href='#icon-earth')
        p.screen__text
          | Большой выбор отелей по всему миру. Собственный рейтинг на основе отзывов.
      .comfort__item
        .comfort__icon
          svg(class='svg-icon')
            use(xlink:href='#icon-train')
        p.screen__text
          | Ж/д билеты с возможностью выбора мест в вагоне на удобной схеме. Не больше 2 минут на оформление.
    .controls
      a(href="javascript:" class="button" scroll-to="" anchor="trySystem")
        | Попробовать
