section.screen.comfort.ng-scope
  div.screen__wrap
    h2
      | Сотрудникам удобно
    h5
      | Сервис проверенный годами и миллионами довольных путешественников
    .comfort__content
      .comfort__item
        .comfort__icon
          svg(class='svg-icon')
            use(xlink:href='#icon-plane')
        p.screen__text
          | Самый большой выбор билетов и авиакомпаний. Возможность копить бонусные мили на своей карте.
      .comfort__item
        .comfort__icon
          svg(class='svg-icon')
            use(xlink:href='#icon-earth')
        p.screen__text
          | Варианты отелей по всему миру, в более чем 200 странах. Собственный рейтинг отелей на основе отзывов.
      .comfort__item
        .comfort__icon
          svg(class='svg-icon')
            use(xlink:href='#icon-train')
        p.screen__text
          | Выбор лучших мест в вагоне на удобной схеме. Не более 2-х минут на оформление.
    .controls
      a(href="javascript:" class="button" scroll-to="" anchor="trySystem")
        | Попробовать
