.message.js-message
  .message__popup
    h2.message__title
      | Заявка принята!
    p.message__text
      | Спасибо, Ваша заявка принята. В ближайшее время наш менеджер свяжется с вами.
    .message__close.js-message-close
      | Закрыть