.message._message-error.js-message-error
  .message__popup
    h2.message__title
      | Ошибка
    p.message__text
      | Извините, что-то пошло не так, попробуйте еще раз.
    .message__close.js-message-error-close
      | Закрыть