.header__logo
  top 66px
  position absolute
  z-index 11
  left 50%
  margin-left -77px
  &._logo-groups
    display none
  ._groups-page &
    display none
    &._logo-groups
      display block
      top 90px
      margin-left -33px
      svg
        width 66px
        height 66px
        fill #fff
  svg
    width 154px
    height 154px
  +mediaMax($small)
    top 2rem
    position absolute
    margin-left -2.5rem
    width 5rem
    height 5rem
    svg
      width 5rem
      height 5rem