.header__logo
  top 66px
  position absolute
  z-index 11
  left 50%
  margin-left -77px
  &._logo-groups
    display none
  ._groups-page &
    display none
    &._logo-groups
      display block
      top 90px
      margin-left -33px
      svg
        width 66px
        height 66px
        fill #fff
      +mediaMax($small)
        top 1.2rem
        position absolute
        margin-left -4rem
        width 8rem
        height 8rem
        svg
          width 8rem
          height 8rem
  svg
    width 154px
    height 154px
  +mediaMax($small)
    top 1.2rem
    position absolute
    margin-left -4rem
    width 8rem
    height 8rem
    svg
      width 8rem
      height 8rem