.header__logo
  top 100px
  position absolute
  z-index 11
  left 50%
  margin-left -37px
  &._logo-groups
    display none
  svg
    width 75px
    height 97px
  +mediaMax($small)
    top 1.2rem
    position absolute
    margin-left -4rem
    width 8rem
    height 8rem
    svg
      width 8rem
      height 8rem