.header__link
  color #fff
  font-size 13px
  font-weight 400
  letter-spacing .4px
  line-height 24px
  text-decoration none
  text-transform uppercase
  display inline-block
  vertical-align middle
  height 24px
  padding 0 15px
  border-radius 4px
  position relative
  ._black &
    color #000
  &:hover
    color #fff
    ._black &
      color #000
    text-decoration none

  &._active
    cursor default
    pointer-events none
    color #fff
    text-decoration none
    background hsla(0,0%,100%,.2)
    ._black &
      color #000
  &._registration--desktop
    display inline-block
  &._registration--mobile
    display none

  +mediaMax($small)
    text-align center
    display block
    width 100%
    height 3.6rem
    font-size 1.3rem
    line-height 3.6rem
    letter-spacing 0.04rem
    padding 0
    color #fff!important

    &._active
      pointer-events initial
      cursor pointer
      color #fff!important
      text-decoration none
      background transparent

    &._registration--desktop
      display none

    &._registration--mobile
      display block
