footer.footer
  .footer__wrap
    .clearfix
      .footer__phones
        .footer__label
          | ЗВОНОК В ПОДДЕРЖКУ
        .footer__icon
          svg(class='svg-icon')
            use(xlink:href='#icon-tel')
        .footer__tels
          a(href="tel:+74959816881")
           | +7 495 981 68 81
          a(href="tel:+74956468362")
           | +7 495 646 83 62
    .footer__nav
      a(target="_blank" href="http://support.onetwotrip.com/hc/ru")
        | ПОМОЩЬ 24 ЧАСА
      a(target="_blank" href="https://www.onetwotrip.com/ru/about/")
        | О КОМПАНИИ
      a(target="_blank" href="https://www.onetwotrip.com/ru/bonuses/")
        | БОНУСЫ
      a(target="_blank" href="https://www.onetwotrip.com/ru/insurance/")
        | СТРАХОВАНИЕ
      a(target="_blank" href="http://partner.onetwotrip.com/")
        | ПАРТНЕРАМ
      a(target="_blank" href="https://www.onetwotrip.com/ru/blog/")
        | БЛОГ

    .footer__copy
      | Содержимое сайта является объектом авторских прав. ©2017 OneTwoTrip Ltd. Все права защищены.
      a(href="/")
        |  Правовая информация