section.screen.excellence
  div.screen__wrap
    h2.excellence__title
      | Используйте преимущества группового тарифа
    .excellence__content
      .excellence__item
        .excellence__icon
          svg(class='svg-icon' xmlns:xlink='http://www.w3.org/1999/xlink')
            use(xlink:href='#icon-puzzle')
        p.screen__text
          | Возможность оплачивать бронь
          br
          | частями в зависимости от дат
          br
          | бронирования/вылетаfff
      .excellence__item
        .excellence__icon
          svg(class='svg-icon' xmlns:xlink='http://www.w3.org/1999/xlink')
            use(xlink:href='#icon-approval')
        p.screen__text
          | Все пассажиры группы летят по
          br
          | одной цене

      .excellence__item
        .excellence__icon
          svg(class='svg-icon' xmlns:xlink='http://www.w3.org/1999/xlink')
            use(xlink:href='#icon-inspection')
        p.screen__text
          | Возможность предоставления
          br
          | списка с данными пассажиров
          br
          | после подтверждения мест

      .excellence__item
        .excellence__icon
          svg(class='svg-icon' xmlns:xlink='http://www.w3.org/1999/xlink')
            use(xlink:href='#icon-refresh')
        p.screen__text
          | Возможность заменить имя
          br
          | пассажира до начала перевозки
          br
          | и после выписки билетов

    .controls
      p
        a(href="javascript:" class="button" scroll-to="" anchor="trySystem")
          | Отправить запрос
