section.screen.excellence
  div.screen__wrap
    h2.excellence__title
      | Используйте преимущества группового тарифа
    .excellence__content
      .excellence__item
        .excellence__icon
          svg(class='svg-icon')
            use(xlink:href='#icon-puzzle')
        p.screen__text
          | Возможность оплачивать бронь
          br
          | частями в зависимости от дат
          br
          | бронирования/вылета
      .excellence__item
        .excellence__icon
          svg(class='svg-icon')
            use(xlink:href='#icon-approval')
        p.screen__text
          | Все пассажиры группы летят по
          br
          | одной цене

      .excellence__item
        .excellence__icon
          svg(class='svg-icon')
            use(xlink:href='#icon-inspection')
        p.screen__text
          | Возможность оплачивать бронь
          br
          | частями в зависимости от дат
          br
          | бронирования/вылета

      .excellence__item
        .excellence__icon
          svg(class='svg-icon')
            use(xlink:href='#icon-refresh')
        p.screen__text
          | Возможность заменить имя
          br
          | пассажира до начала перевозки
          br
          | и после выписки билетов

    .controls
      p
        a(href="javascript:" class="button" scroll-to="" anchor="trySystem")
          | Отправить запрос
      p
        a(target="_blank" href="https://support.onetwotrip.com/hc/ru/articles/210790569-%D0%93%D1%80%D1%83%D0%BF%D0%BF%D0%BE%D0%B2%D0%BE%D0%B9-%D0%B0%D0%B2%D0%B8%D0%B0%D0%BF%D0%B5%D1%80%D0%B5%D0%BB%D0%B5%D1%82")
          | Подробнее о групповых перелетах