.teaser
  height 560px
  width 100%
  background-size cover
  background-position-x 50%
  text-align center
  padding 35px 0 0

  +mediaMax($small)
    padding 13rem 1.25rem
  +mediaMax($small)
    height 48.9rem
  &._first
    background-image url('~_images/teaser-first@x2.jpg')
    padding 257px 0 0
    +mediaMax($small)
      padding 22.2rem 1.25rem
      background-image url('~_images/teaser-first-mobile@x2.jpg')

  &._agents
    background-image url('~_images/teaser-agents@x2.jpg')
    padding 280px 0 0
    +mediaMax($small)
      padding 22.2rem 1.25rem
      background-image url('~_images/teaser-agents-mobile@x2.jpg')
  &._groups
    background-image url('~_images/teaser-groups@x2.jpg')
    padding 257px 0 0
    +mediaMax($small)
      padding 22.2rem 1.25rem
      background-image url('~_images/teaser-groups@x2.jpg')

  &__blocks
    width 100%
    max-width 920px
    margin auto
    display flex
    justify-content space-around
    align-items stretch
    +mediaMax($small)
      display block

  &__block
    width 280px
    text-align center
    +mediaMax($small)
      width 100%
      padding 0 2rem
      margin-bottom 5rem

  &__text
    color #fff
    font-size 14px
    font-weight 400
    letter-spacing .2px
    line-height 1.429em
    +mediaMax($small)
      font-size 1.4rem
  &__icon
    margin-bottom 20px
    svg
      width 40px
      height 47px
    +mediaMax($small)
      margin-bottom 2.5rem
      svg
        &:not(._groups &)
          width 6.4rem
          height 6.4rem