.teaser__title
  color #fff
  font-family Roboto
  font-size 34px 
  font-weight 400 
  line-height 48px 
  letter-spacing -.2px 
  margin 35px 0 0

  +mediaMax($small)
    margin-top 13rem
    font-size 2.8rem
    line-height 3.8rem
    letter-spacing -0.016rem
