.numeric
  display flex
  justify-content space-around
  align-items stretch
  +mediaMax($small)
    display block
  &__item
    width 210px
    text-align center 
    order 0
    flex 0 1 auto
    align-self auto
  &__num
    color #8dc3e0
    font-size 52px
    font-weight 300
    line-height 48px
    margin 0 0 20px