section.screen.numeric
  .screen__wrap
    .numeric__content
      .numeric__item
        .numeric__num
          | 800
        p
          span.numeric__things
            | авиакомпаний
          | размещают свои предложения на нашей платформе
      .numeric__item
        .numeric__num
          | 900 000
        p
          span.numeric__things
            | отелей
          | по всему миру доступны для бронирования
      .numeric__item
        .numeric__num
          | 10 000
        p
          span.numeric__things
            | тревел-продуктов
          | ежедневно выкупается на нашем сайте

      .numeric__item
        .numeric__num
          | 2
        p
          span.numeric__things
            | минуты
          | этого времени хватит, чтобы забронировать отель, купить ж/д или авиабилет, страховку

    .controls
      a(href="javascript:" class="button" scroll-to="" anchor="trySystem")
        | Попробовать
