.excellence
  &__content
    display flex
    justify-content space-between
    align-content stretch
    align-items stretch
    flex-direction row
    flex-wrap wrap
    max-width 800px
    margin auto
    +mediaMax($small)
      display block
  &__title
    color #424242
    font-size 24px
    font-weight 300
    line-height 1.333em
    margin 0 0 50px
    +mediaMax($small)
      font-size 2.4rem
      margin 0 0 4rem
  &__item
    order 1
    flex 0 0 40%
    align-self auto
    margin-bottom 50px
  &__icon
    margin-bottom 10px
    +mediaMax($small)
      margin-bottom 1rem
      display inline-block
    svg
      width 24px
      height 26px