section.teaser._registration
  h1.teaser__title
    | Регистрация партнера

  .teaser__registration-text
    | Заполните предложенные графы — готовый к подписанию договор поступит Вам на электронную почту.
    | В случае возникновения вопросов отправьте
    a(href="")
      | запрос на консультацию.

