section.teaser._registration.js-success-wrap
  h1.teaser__title
    | Регистрация партнера

  .teaser__registration-text
    | Заполните предложенные графы — готовый к подписанию договор поступит Вам на электронную почту.
    | В случае возникновения вопросов отправьте&nbsp;
    a(href="")
      | запрос на консультацию.

