section.teaser._groups
  h1.teaser__title
    | Нужен перелёт более чем для 9-ти человек?
    br
    | Оформляйте билеты для групп с ONETWOTRIP

  .teaser__blocks
    .teaser__block
      .teaser__icon
        svg(class='svg-icon')
          use(xlink:href='#icon-reading-ebook')
      p.teaser__text
        | Доступ к групповым тарифам всех
        br
        | доступных авиакомпаний на
        br
        | выбранном маршруте
    .teaser__block
      .teaser__icon
        svg(class='svg-icon')
          use(xlink:href='#icon-hand-cursor')
      p.teaser__text
        | Запрос мест и цен одним кликом
        br
        | во все доступные авиакомпании
    .teaser__block
      .teaser__icon
        svg(class='svg-icon')
          use(xlink:href='#icon-manager-groups')
      p.teaser__text
        | Персональный консультант
        br
        | по групповым перевозкам

  .controls
    a(href="javascript:" class="button" scroll-to="" anchor="trySystem")
      | Попробовать


