section.teaser._first
  .teaser__logo.logo
    a(href='/' target='_blank')
      svg(class='svg-icon')
        use(xlink:href='#icon-logo')
  h1.teaser__title
    |Путешествия — наша работа, доверьтесь
    br
    |профессионалам
