section.teaser._groups
  .teaser__logo.logo
    a(href='/' target='_blank')
      svg(class='svg-icon')
        use(xlink:href='#icon-logo')
  h1.teaser__title
    | Нужен перелёт более чем для 9-ти человек?
    br
    | Оформляйте билеты для групп с ONETWOTRIP
