section.teaser._agents
  .teaser__logo.logo
    a(href='/' target='_blank')
      svg(class='svg-icon')
        use(xlink:href='#icon-logo')
  h1.teaser__title
    | Ваш надежный онлайн
    br
    | тревел-партнер
