.g-svg-sprite
  display none
.g-wrapper
  max-width 100%
  min-height 100vh
  position relative
  &._mobile-menu-open
    overflow hidden
    height 100%
    min-height auto

.g-hidden
  display none !important
.g-relative
  position relative
.g-not-visible
  opacity 0
.g-visible
  opacity 1
.g-transition
  transition all 1s

.clearfix
  &:before
  &:after
    content ''
    display table
  &:after
    clear both


webfont('Open Sans Regular', 'OpenSans-Regular', 'OpenSans-Regular', 'normal')
webfont('Roboto Regular', 'Roboto-Regular', 'Roboto-Regular', 'normal')
webfont('Roboto Medium', 'Roboto-Medium', 'Roboto-Medium', 'normal')
webfont('Roboto Light', 'Roboto-Light', 'Roboto-Light', 'normal')

