.g-svg-sprite
  display none
.g-wrapper
  max-width 100%
  min-height 100vh
  position relative
  &._mobile-menu-open
    overflow hidden
    height 100%
    min-height auto

.clearfix
  &:before
  &:after
    content ''
    display table
  &:after
    clear both
