.message
  background-color rgba(62,71,87,.8)
  display none
  position absolute
  z-index 80
  overflow hidden
  justify-content: center
  align-items: center
  top 0
  left 0
  width 100%
  height 100%
  &__title
    color #9e9e9e
    font-size 24px
    font-weight 300
    line-height 32px
    text-align left
    margin-bottom 23px
  &__text
    font-size 16px
    margin-bottom 30px
    +mediaMax($small)
      font-size 1.6rem
      margin-bottom 3rem

  ._message-open &
    &._message-success
      display flex
  ._message-error-open &
    &._message-error
      display flex
  &__popup
    background #fff
    min-width 360px
    max-width 80%
    padding 24px
    max-height 80%
    position relative
    box-shadow 0 7px 8px -4px rgba(0,0,0,.2), 0 13px 19px 2px rgba(0,0,0,.14), 0 5px 24px 4px rgba(0,0,0,.12)
    flex-direction column
    +mediaMax($small)
      min-width auto
      max-width auto
      width 90%

  &__close
    position absolute
    cursor pointer
    right 24px
    bottom 5px
    font-size 16px
    color rgb(255,152,0)
    line-height 36px
    vertical-align middle
    text-transform uppercase
    +mediaMax($small)
      font-size 1.6rem
