.screen
  .screen__wrap.advantage
    .advantage__item
      .advantage__icon
        svg(class='svg-icon')
          use(xlink:href='#icon-hands')
      h4(class="screen__title advantage__title")
        | Честное и прозрачное ценообразование
      p(class="screen__text advantage__text")
        | Понятный размер сервисного сбора, нет никаких абонентских плат или скрытых комиссий.

    div(class="advantage__item")
      .advantage__icon
        svg(class='svg-icon')
          use(xlink:href='#icon-one-partner')
      h4(class="screen__title advantage__title")
       | Один партнер для решения всех тревел-задач
      p(class="screen__text advantage__text")
       | Предложения от более 800 авиакомпаний, включая лоукостеры,
       br
       | 1&nbsp;000&nbsp;000 отелей, ж/д билеты, страховки.

    div(class="advantage__item")
      .advantage__icon
        svg(class='svg-icon')
          use(xlink:href='#icon-time')
      h4(class="screen__title advantage__title")
       | Надежность и скорость работы
      p(class="screen__text advantage__text")
       | Нам доверяют миллионы клиентов. Моментальная оплата и подтверждение бронирований, автоматизация тревел-процессов.

  .controls
    .button(anchor="trySystem")
      | Попробовать

