.screen.optimization#optimize
  .screen__wrap
    h2
      | Оптимизация бизнес-процесса
    h5
      | для компании любого размера - от нескольких человек до крупной сети агентств
    .optimization__content
      .optimization__item
        .optimization__icon
          svg(class='svg-icon' xmlns:xlink='http://www.w3.org/1999/xlink')
            use(xlink:href='#icon-money')
        h4.screen__title.optimization__title
          | Высокий
          br
          | заработок
        p
          | Добавьте свой
          br
          | сервисный сбор
          br
          | к агентской комиссии
      .optimization__item
        .optimization__icon
          svg(class='svg-icon' xmlns:xlink='http://www.w3.org/1999/xlink')
            use(xlink:href='#icon-profit')
        h4.screen__title.optimization__title
          | Выгода
          br
          | без затрат
        p
          | Не нужно получать
          br
          | аккредитацию IATA, нанимать специалистов и платить вступительные взносы
      .optimization__item
        .optimization__icon
          svg(class='svg-icon' xmlns:xlink='http://www.w3.org/1999/xlink')
            use(xlink:href='#icon-users')
        h4.screen__title.optimization__title
          | Охват без
          br
          | ограничений
        p
          | Работать в онлайн-кабинете
          br
          | одновременно могут сколько
          br
          | угодно менеджеров
      .optimization__item
        .optimization__icon
          svg(class='svg-icon' xmlns:xlink='http://www.w3.org/1999/xlink')
            use(xlink:href='#icon-manage-users')
        h4.screen__title.optimization__title
          | Управление
          br
          | сотрудниками
        p
          | По каждому заказу
          br
          | отображается размер
          br
          | комиссии. Можно посмотреть
          br
          | отчёт по сотруднику, отделу
          br
          | и агентству.
