.screen.optimization#optimize
  .screen__wrap
    h2
      | Оптимизация бизнес-процесса
    h5
      | для компании любого размера - от нескольких человек до крупной сети агентств
    .optimization__content
      .optimization__item
        .optimization__icon
          svg(class='svg-icon')
            use(xlink:href='#icon-money')
        h4.screen__title.optimization__title
          | Высокий
          br
          | заработок
        p
          | Возможность добавить свой
          br
          | сервисный сбор в дополнение
          br
          | к агентской комиссии
      .optimization__item
        .optimization__icon
          svg(class='svg-icon')
            use(xlink:href='#icon-profit')
        h4.screen__title.optimization__title
          | Выгода
          br
          | без затрат
        p
          | Не требуется аккредитации
          br
          | IATA, найма специалистов,
          br
          | вступительных взносов
      .optimization__item
        .optimization__icon
          svg(class='svg-icon')
            use(xlink:href='#icon-users')
        h4.screen__title.optimization__title
          | Охват без
          br
          | ограничений
        p
          | Работать в онлайн-кабинете
          br
          | может любое число тревел-
          br
          | менеджеров
      .optimization__item
        .optimization__icon
          svg(class='svg-icon')
            use(xlink:href='#icon-manage-users')
        h4.screen__title.optimization__title
          | Управление
          br
          | сотрудниками
        p
          | Отображение размера
          br
          | комиссии по каждому заказу,
          br
          | отчетов по сотруднику, отделу,
          br
          | агентству