h1 
  color #fff
  font-size 34px
  font-weight 400
  line-height 48px
  letter-spacing -.2px
  margin 35px 0 0

h2
  color #424242
  font-size 34px
  font-weight 300
  line-height 40px
  margin 0 0 10px

h3
  color #424242
  font-size 28px
  font-weight 300
  line-height 40px
  margin 0 0 33px

h5
  color #616161
  font-size 16px
  font-weight 400
  letter-spacing .2px
  line-height 24px
  margin 0 0 28px
