section.screen.easy-start.ng-scope
  div.screen__wrap
    h3
      | Начните зарабатывать с OneTwoTrip уже сейчас
    .easy-start__content
      .easy-start__item
        .easy-start__icon
          svg(class='svg-icon' xmlns:xlink='http://www.w3.org/1999/xlink')
            use(xlink:href='#icon-step-one')
        p.screen__text
          | Заполните простую
          br
          | форму
      .easy-start__item
        .easy-start__icon
          svg(class='svg-icon' xmlns:xlink='http://www.w3.org/1999/xlink')
            use(xlink:href='#icon-step-two')
        p.screen__text
          | Получите письмо
          br
          | с информацией
      .easy-start__item
        .easy-start__icon
          svg(class='svg-icon' xmlns:xlink='http://www.w3.org/1999/xlink')
            use(xlink:href='#icon-step-three')
        p.screen__text
          | Приступайте
          br
          | к бронированию

