header.header._black.js-mobile-menu
  .header__logo.logo
    a(href='/onetwob2b/' target='_blank')
        svg(class='svg-icon')
          use(xlink:href='#icon-logo-black')
  .js-mobile-menu-toggle
    .header__mobile-menu-icon._open
      svg(class='svg-icon')
        use(xlink:href='#icon-mobile-menu-open')
    .header__mobile-menu-icon._close
      svg(class='svg-icon')
        use(xlink:href='#icon-mobile-menu-close')
  nav.header__nav
    .header__left
      a.header__link(href='/onetwob2b/')
        | Корпоративным клиентам
      a.header__link(href='/onetwob2b/commissioner.html')
        | Агентам
      a.header__link(href='/onetwob2b/groups.html')
        | Группы
      a.header__link._active(href='/onetwob2b/registration.html')
        | Регистрация
    .header__right
      a.header__link._registration._active(href='/onetwob2b/registration.html')
        | Регистрация
      .header__login.js-dialog-trigger-open
        .header__mobile-login-icon
          svg(class='svg-icon')
            use(xlink:href='#icon-mobile-menu-login')
        | Войти
