header.header.js-mobile-menu
  .header__logo.logo
    a(href='/' target='_blank')
      svg(class='svg-icon')
        use(xlink:href='#icon-logo')
  .header__logo.logo._logo-groups
    a(href='/' target='_blank')
      svg(class='svg-icon')
        use(xlink:href='#icon-logo-business')
  .js-mobile-menu-toggle
    .header__mobile-menu-icon._open
      svg(class='svg-icon')
        use(xlink:href='#icon-mobile-menu-open')
    .header__mobile-menu-icon._close
      svg(class='svg-icon')
        use(xlink:href='#icon-mobile-menu-close')
  nav.header__nav
    .header__left
      a.header__link._active(href='/')
        | Корпоративным клиентам
      a.header__link(href='/commissioner.html')
        | Агентам
      a.header__link(href='/groups.html')
        | Группы
    .header__right
      .header__login.js-dialog-trigger-open
        .header__mobile-login-icon
          svg(class='svg-icon')
            use(xlink:href='#icon-mobile-menu-login')
        | Войти