header.header
  nav.header__nav
    .header__left
      a.header__link
        | Корпоративным клиентам
      a.header__link
        | Агентам
      a.header__link
        | Группы
    .header__right
      .header__login
        | Войти